@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    background-color: rgb(238, 238, 238);
}

.header{
    background-color: rgb(238, 238, 238);
    color: black;
    padding: 25px 100px;
}

.likes-button:hover {
    opacity: 0.5;
    scale: 1.3;
}

.box {
    flex: 4;
    border-radius: 10px;
    width: 60%;
    height: 80vh;
    text-align: center;
    background-color: white;
    margin: 0px 0px 0px 60px;
    position: relative;
}

p.bio {
    margin: 30px;
    text-align: justify;
    font-size: 20px;
}

.right-side-header, .left-side-header {
    position: absolute;
    color: black;
}

.right-side-header {
    width: 30%;
    height: 30%;
    top: 15%;
    right: 20%;
}

.left-side-header {
    top: 10%;
    left: 10%;
    color: white;
}

.left-side-header img {
    width: 230px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid gray;
}

.fon-header {
    width: 100%;
    height: 40vh;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.links {
    padding: 10px;
}

.links a {
    margin: 20px;
}

.bio {
    display: flex;
    flex-direction: row;
}

.about-me {
    flex: 2;
    padding: 60px;
    text-align: justify;
}

.info {
    flex: 1;
    text-align: left;
    padding: 60px;
}

.info p{
    color: grey;
}

.info h3 {
    display: inline;
}

.right-side-header h3 {
    padding: 5px;
}

.about-me p {
    font-size: 15px;
}

.container {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 10px; 
    margin: 0px 20px 0px 20px;
    max-height: 70vh;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
}

.comment {
    flex: 1;
    overflow-y: auto;
}

.formComment {
    text-align: center;
}

.button-send {
    background-color: rgb(14, 156, 61);
    padding: 10px;
    border: none;
    border-radius: 10px;
}


.sort-button {
    display: inline-block;
    padding: 10px;
    width: 40px;
    background: white;
    border-radius: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-style {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    background-color: aquamarine;
    margin: 10px;
    cursor: pointer;
}

.delete-button {
    border-radius: 10px;
    padding: 5px 15px;
}

.current-page-enable {
    padding: 10px;
    background-color:rgb(32, 77, 62);
    border-radius: 10px;
    border: none;
    margin: 5px;
}

.current-page-disable {
    padding: 10px;
    border: 1px solid rgb(127, 172, 255);
    border-radius: 10px;
    margin: 5px;
}